
.collapse-container {
  .title {
    display: flex;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
    align-items: center;
    background: #2fa499;
    text-transform: uppercase;
    border: 2.5px solid #2fa499;
    justify-content: space-between;
  }
  .panel-body {
    padding: 20px;
    font-size: 18px;
    background: #fff;
    margin-bottom: 30px;
    border: 2px solid #2fa499;
    border-top: none;
  }
}
