@import "../../variable.scss";

.sidebar-container {
  display: block;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  background: #000;

  .title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Playfair Display", Georgia, serif;
  }
  .navigation-bar {
    width: 65%;
    float: right;
    color: #fff;
    font-size: 18px;
    .links {
      display: flex;
      font-size: 18px;
      text-transform: uppercase;
      justify-content: space-between;
      div {
        cursor: pointer;
        a:hover {
          color: #fff;
        }
      }
    }
    .hamburger-menu {
      display: none;
    }
  }
  .active-link {
    position: relative;
    background-color: #CA4246;
    /* Create the gradient. */
    background-image: linear-gradient(
      45deg,
      #CA4246 16.666%, 
      #E16541 16.666%, 
      #E16541 33.333%, 
      #F18F43 33.333%, 
      #F18F43 50%,);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: -2px;
      left: 0;
      right: 0;
      background: linear-gradient(45deg, #f3ec78, #af4261);
    }
  }
  .mobile-menu {
    display: none;
  }
  @media screen and (max-width: 992px) {
    .navigation-bar {
      width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    .navigation-bar {
      .hamburger-menu {
        display: block;
        float: right;
        div {
          width: 30px;
          height: 5px;
          margin-bottom: 5px;
          background: #fff;
        }
      }
      .links {
        display: none;
      }
    }
    .mobile-menu {
      display: block;
      width: 100%;
      opacity: 0.96;
      color: #fff;
      background: #111;
      position: absolute;
      left: 0;
      right: 0;
      div {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
      }
      .close-icon {
        padding: 0;
        right: 0;
        font-size: 20px;
        position: absolute;
        margin-right: 20px;
      }
    }
  }
}
