.experience-page {
  .timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
    &::before {
      content: " ";
      background: #f5f5f5;
      display: inline-block;
      position: absolute;
      left: 16px;
      width: 4px;
      height: 100%;
      border-radius: 1rem;
    }
    .timeline-item {
      margin: 0 30px 40px 30px !important;
      background: linear-gradient(to bottom, #fff, #cae5f1) !important;
      p {
        font-size: 16px;
        text-align: justify;
      }
      .view-more {
        display: none;
      }
      .description-list {
        list-style: disc;
      }
      &::before {
        content: " ";
        background: skyblue;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 5px solid #2c98f0;
        left: 8px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
    @media screen and (max-width: 600px) {
      .timeline-item {
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
          overflow: hidden;
          max-height: 150px;
        }
        .view-full-description {
          max-height: none;
        }
        .view-more {
          display: block;
          cursor: pointer;
          color: #2c98f0;
          text-decoration: underline;
        }
      }
    }
  }
}
