@import "./variable.scss";

.color-blue {
  color: $primary-color;
}

.bg-color-blue {
  background: $primary-color;
}

.color-1 {
  border-bottom: 3px solid #2c98f0;
}
.color-2 {
  border-bottom: 3px solid #ec5453;
}
.color-3 {
  border-bottom: 3px solid #f9bf3f;
}
.color-4 {
  border-bottom: 3px solid #a84cb8;
}
.color-5 {
  border-bottom: 3px solid #2fa499;
}
.color-6 {
  border-bottom: 3px solid #4054b2;
}
.display-none {
  display: none;
}

.App {
  width: 100%;
  overflow: hidden;
  position: relative;
  .components-container {
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.29);
  }
}

.component-spacing {
  padding: 5rem 2.5rem;
}

.component-header {
  display: block;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.component-sub-header {
  display: inline-block;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 700;
  position: relative;
  margin-bottom: 3em;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #CA4246;
  background-image: linear-gradient(
    45deg,
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%,);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.scroll-up {
  position: fixed;
  bottom: 35px;
  right: 20px;
  z-index: 100;
  cursor: pointer;
  animation: scrollTop 0.5s alternate ease;
}

.scroll-up img {
  width: 35px;
  padding-top: 10px;
}

@keyframes scrollTop {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -15px, 0);
  }
}

@media screen and (max-width: 600px) {
  .component-spacing {
    padding: 5rem 15px;
  }
}